@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kxxsip');
  src:  url('fonts/icomoon.eot?kxxsip#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kxxsip') format('truetype'),
    url('fonts/icomoon.woff?kxxsip') format('woff'),
    url('fonts/icomoon.svg?kxxsip#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon icon-"], [class*="icomoon icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flame:before {
  content: "\f0d2";
}
.icon-library:before {
  content: "\e921";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-location2:before {
  content: "\e948";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-search1:before {
  content: "\e986";
}
.icon-key:before {
  content: "\e98d";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-flag:before {
  content: "\e900";
}

